<div style="width: 90%; margin: 0 auto;">
  <!-- Search by order date -->
  <mat-form-field appearance="outline" style="width: 300px; margin-top: 10px; margin-right: 15px;">
    <mat-label>Search by order date</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="searchedStartDate" (dateChange)="search()" readonly>
      <input matEndDate [(ngModel)]="searchedEndDate" (dateChange)="search()" readonly>
    </mat-date-range-input>
    <button *ngIf="searchedStartDate || searchedEndDate" matSuffix mat-icon-button aria-label="Clear" (click)="searchedStartDate=''; searchedEndDate=''; search();">
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
  </mat-form-field>
  <h5 class="table-header">Product Name: {{ productDto.name }}</h5>
  <div class="container-fluid mat-elevation-z8 responsive-container">
    <table mat-table [dataSource]="dataSource" matSort class="product-retail-price-history-table w-100" >
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.index }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">{{ (element.price) | number }}</td>
      </ng-container>
      <ng-container matColumnDef="creationTimestamp">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated Date</th>
        <td mat-cell *matCellDef="let element">{{ element.creationTimestamp | date: 'yyyy-MM-dd' }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon style="cursor: pointer" (click)="delete(element.id)">delete</mat-icon>
        </td>
      </ng-container>
      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </ng-container>
    </table>
  </div>
  <h5 *ngIf="totalElements == 0" class="text-danger text-center mb-3 mt-3">No record found!</h5>
  <mat-paginator #paginator [length]="totalElements" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
  <div class="button-group back-button-group">
    <button mat-raised-button color="accent" type="button" class="text-white" (click)="back()">Back to product list</button>
  </div>
</div>
