.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-price .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-creationTimestamp .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-action .mat-sort-header-container {
  width: 50px;
  max-width: 50px;
  word-wrap: break-word;
}

.product-retail-price-history-table {
  min-width: 500px !important;
}

mat-paginator {
  margin-bottom: 0px !important;
}

.back-button-group {
  float: right;
  margin-top: 20px !important;
  margin-bottom: 100px !important;
}
