<div style="width: 90%; margin: 0 auto;">
  <div class="container-fluid mat-elevation-z8 responsive-container">
    <!-- Search by customer name -->
    <div class="filter-search">
      <mat-form-field appearance="outline" style="width: 200px">
        <mat-label>Search by customer name</mat-label>
        <input type="text" matInput [(ngModel)]="searchedKeyword">
        <button *ngIf="searchedKeyword" matSuffix mat-icon-button aria-label="Clear" (click)="searchedKeyword=''; search();">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" class="search-btn text-white" type="button" (click)="search()">Search</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="customer-table w-100">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">{{ element?.index }}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Customer Name</th>
        <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
        <td mat-cell *matCellDef="let element">{{ element?.phone }}</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon style="cursor: pointer" (click)="update(element.id)">edit</mat-icon>
          <mat-icon style="cursor: pointer" (click)="delete(element.id)">delete</mat-icon>
        </td>
      </ng-container>
      <ng-container *ngIf="allowAction">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsWithAction;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsWithAction"></tr>
      </ng-container>
      <ng-container *ngIf="!allowAction">
        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </ng-container>
    </table>
  </div>
  <h5 *ngIf="totalElements == 0" class="text-danger text-center mb-3 mt-3">No record found!</h5>
  <mat-paginator #paginator [length]="totalElements" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
</div>
