.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  padding-right: 14px;
}

.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-address .mat-sort-header-container {
  width: 300px;
  max-width: 300px;
  word-wrap: break-word;
}

.responsive-container .mat-column-action .mat-sort-header-container {
  width: 50px;
  max-width: 50px;
  word-wrap: break-word;
}

.shipping-address-list-table {
  min-width: 450px !important;
}
