.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-product .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-category .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-fulfilmentStatus .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-orderedQuantity .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-fulfilledQuantity .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-sellingPrice .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-manufacturingCost .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-amount .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-profit .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-fulfilmentHistory .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-action .mat-sort-header-container {
  width: 50px;
  max-width: 50px;
  word-wrap: break-word;
}

.order-details-table {
  min-width: 1750px !important;
}

.input-form {
  margin-bottom: 40px !important;
}

.back-button-group {
  float: right;
  margin-top: 20px !important;
  margin-bottom: 100px !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
}

.clearfix {
  margin-top: 20px;
}
