<h2 mat-dialog-title>Change Password?</h2>
<form [formGroup]="form" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data" method="POST">
  <mat-dialog-content>
    <!-- Old Password -->
    <mat-form-field appearance="outline" class="mt-20">
      <mat-label>Old Password</mat-label>
      <input type="password" matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="form.controls['oldPassword'].invalid && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty || submitted)">
      <span *ngIf="form.controls['oldPassword'].errors?.['required']" class="d-block">Field is required.</span>
      <span *ngIf="form.controls['oldPassword'].errors?.['wrongOldPassword']" class="d-block">Old Password is wrong.</span>
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="mat-dialog-actions">
    <button mat-raised-button color="primary" type="submit" class="text-white">Change</button>
    <button mat-raised-button color="secondary" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
