<div class="container-fluid min-vh-100 background-gradient m-0 p-0 d-flex align-items-center justify-content-center">
  <div class="input-form p-5 col-lg-4 col-md-4 col-sm-6 col-xs-6">
    <form [formGroup]="form" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data" method="POST">
      <div>
        <a routerLink="/auth" class="d-flex align-items-center">
          <img src="assets/images/logo.png" alt="" width="125" height="81" class="mx-auto d-block">
        </a>
      </div>
      <div class="text-center mb-20">
        <span class="fs-17 logo-text">Global Generation Plastic</span>
      </div>
      <div class="text-center mb-20">
        <h4 class="text-header" *ngIf="valid && !reset">Reset Password</h4>
        <h4 class="text-header" *ngIf="!valid">Password Reset Token is invalid or expired. <br> Please check password reset email again.</h4>
        <h4 class="text-header" *ngIf="reset">Password is reset successfully. <br> Please login with new password.</h4>
      </div>
      <div class="p-4" *ngIf="valid && !reset">
        <!-- New Password -->
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="generateRandom()" style="padding-right: 5px;">refresh</mat-icon>
          <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" style="padding-left: 0px;">{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="form.controls['newPassword'].invalid && (form.controls['newPassword'].touched || form.controls['newPassword'].dirty || submitted)">
          <span *ngIf="form.controls['newPassword'].errors?.['required']" class="d-block">Field is required.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['minlength']" class="d-block">Must be at least 8 characters.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['maxlength']" class="d-block">Must be at most 30 characters.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['notContainUpperCase']" class="d-block">Must contain at least 1 uppercase letter.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['notContainLowerCase']" class="d-block">Must contain at least 1 lowercase letter.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['notContainDigit']" class="d-block">Must contain at least 1 digit.</span>
          <span *ngIf="form.controls['newPassword'].errors?.['notContainSpecialChar']" class="d-block">Must contain at least 1 special characters.</span>
        </mat-error>
        <!-- Confirm Password -->
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty || submitted)">
          <span *ngIf="form.controls['confirmPassword'].errors?.['required']" class="d-block">Field is required.</span>
          <span *ngIf="form.controls['confirmPassword'].errors?.['passwordNotMatch']" class="d-block">Must match with new password.</span>
        </mat-error>
        <button mat-raised-button color="primary" type="submit" class="text-white float-end">Submit</button>
      </div>
      <div class="p-4 text-center" *ngIf="!valid || reset">
        <button mat-raised-button color="accent" type="button" class="text-white" routerLink="/auth">Back to Login</button>
      </div>
    </form>
  </div>
</div>
