.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-product .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-pickupQuantity .mat-sort-header-container {
  width: 250px;
  max-width: 250px;
  word-wrap: break-word;
}

.responsive-container .mat-column-action .mat-sort-header-container {
  width: 50px;
  max-width: 50px;
  word-wrap: break-word;
}

.pickup-details-table {
  min-width: 600px !important;
}

.input-form {
  margin-bottom: 40px !important;
}

.back-button-group {
  float: right;
  margin-top: 20px !important;
  margin-bottom: 100px !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-radius: 0;
}
