<h2 mat-dialog-title>Change Password?</h2>
<form [formGroup]="form" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data" method="POST">
  <mat-dialog-content>
    <!-- Old Password -->
    <mat-form-field appearance="outline" class="mt-20">
      <mat-label>Old Password</mat-label>
      <input type="password" matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideOldPassword = !hideOldPassword">{{ hideOldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="form.controls['oldPassword'].invalid && (form.controls['oldPassword'].touched || form.controls['oldPassword'].dirty || submitted)">
      <span *ngIf="form.controls['oldPassword'].errors?.['required']" class="d-block">Field is required.</span>
      <span *ngIf="form.controls['oldPassword'].errors?.['wrongOldPassword']" class="d-block">Old Password is wrong.</span>
    </mat-error>
    <!-- New Password -->
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input type="password" matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="generateRandom()" style="padding-right: 5px;">refresh</mat-icon>
      <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword" style="padding-left: 0px;">{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="form.controls['newPassword'].invalid && (form.controls['newPassword'].touched || form.controls['newPassword'].dirty || submitted)">
      <span *ngIf="form.controls['newPassword'].errors?.['required']" class="d-block">Field is required.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['minlength']" class="d-block">Must be at least 8 characters.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['maxlength']" class="d-block">Must be at most 30 characters.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['notContainUpperCase']" class="d-block">Must contain at least 1 uppercase letter.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['notContainLowerCase']" class="d-block">Must contain at least 1 lowercase letter.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['notContainDigit']" class="d-block">Must contain at least 1 digit.</span>
      <span *ngIf="form.controls['newPassword'].errors?.['notContainSpecialChar']" class="d-block">Must contain at least 1 special characters.</span>
    </mat-error>
    <!-- Confirm Password -->
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="confirmPassword" [type]="hideConfirmPassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty || submitted)">
      <span *ngIf="form.controls['confirmPassword'].errors?.['required']" class="d-block">Field is required.</span>
      <span *ngIf="form.controls['confirmPassword'].errors?.['passwordNotMatch']" class="d-block">Must match with new password.</span>
    </mat-error>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="mat-dialog-actions">
    <button mat-raised-button color="primary" type="submit" class="text-white">Change</button>
    <button mat-raised-button color="secondary" type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
