.responsive-container .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  padding-right: 14px !important;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  padding-right: 4px;
}

.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-name .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-email .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-username .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-phone .mat-sort-header-container {
  width: 100px;
  max-width: 100px;
  word-wrap: break-word;
}

.responsive-container .mat-column-role .mat-sort-header-container {
  width: 100px;
  max-width: 100px;
  word-wrap: break-word;
}

.responsive-container .mat-column-creationTimestamp .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-active .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.user-list-table {
  min-width: 1200px !important;
}
