<div style="width: 90%; margin: 0 auto;">
  <div class="text-center mb-20 mt-20">
    <h4 class="text-header">Order Details</h4>
  </div>
  <form [formGroup]="submitForm" #submitFormDirective="ngForm" (ngSubmit)="submit()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data" method="POST" class="w-100">
    <div class="container-fluid mat-elevation-z8 responsive-container">
      <table mat-table [dataSource]="dataSource" class="delivery-route-create-table1 w-100">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <mat-checkbox (click)="$event ? toggleEachRow(element, i) : null"
                          (change)="$event ? selection.toggle(element) : null"
                          [checked]="selection.isSelected(element)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="nonSortIndex">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortOrderId">
          <th mat-header-cell *matHeaderCellDef>Order ID</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortCustomer">
          <th mat-header-cell *matHeaderCellDef>Customer</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.customer?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortOrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.orderDate }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortProduct">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">{{ element.product?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortQuantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortDeliveredQuantity" formArrayName="formArray">
          <th mat-header-cell *matHeaderCellDef>Delivered Quantity</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Delivered Quantity</mat-label>
              <input type="text" matInput formControlName="deliveredQuantity">
            </mat-form-field>
            <mat-error *ngIf="getFormArray(i, 'deliveredQuantity').invalid && (getFormArray(i, 'deliveredQuantity').touched || getFormArray(i, 'deliveredQuantity').dirty || submitted)">
              <span *ngIf="getFormArray(i, 'deliveredQuantity').errors?.['required']" class="d-block">Field is required.</span>
              <span *ngIf="getFormArray(i, 'deliveredQuantity').errors?.['quantityError']" class="d-block">Must be between 1 and {{ element.quantity }}.</span>
            </mat-error>
          </td>
        </ng-container>
        <ng-container matColumnDef="nonSortShippingAddress" formArrayName="formArray">
          <th mat-header-cell *matHeaderCellDef>Shipping Address</th>
          <td mat-cell *matCellDef="let element; let i = index" [formGroupName]="i">
            <mat-form-field appearance="outline">
              <mat-label>Shipping Address</mat-label>
              <mat-select formControlName="shippingAddress">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let shippingAddress of shippingAddressList" [value]="shippingAddress">{{ shippingAddress.address }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="getFormArray(i, 'shippingAddress').invalid && (getFormArray(i, 'shippingAddress').touched || getFormArray(i, 'shippingAddress').dirty || submitted)">
              <span *ngIf="getFormArray(i, 'shippingAddress').errors?.['required']" class="d-block">Field is required.</span>
            </mat-error>
          </td>
        </ng-container>
        <ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </ng-container>
      </table>
    </div>
    <h5 *ngIf="pageData.length == 0" class="text-danger text-center mb-3 mt-3">No record found!</h5>
    <div class="clearfix">
      <div class="button-group save-button-group" style="margin-bottom: 70px !important">
        <button mat-raised-button color="primary" type="submit" class="text-white">Create</button>
        <button mat-raised-button color="warn" type="button" class="text-white" (click)="resetSubmitForm()">Reset</button>
      </div>
    </div>
  </form>
  <div class="text-center mb-20">
    <h4 class="text-header">Delivery Route Cart</h4>
  </div>
  <form [formGroup]="saveForm" #saveFormDirective="ngForm" (ngSubmit)="save()" accept-charset="utf-8" htmlEscape="true" enctype="multipart/form-data" method="POST" class="w-100" style="margin-bottom: 100px;">
    <div class="container-fluid mat-elevation-z8 responsive-container">
      <div class="filter-search">
        <div class="row">
          <!-- Delivery Date -->
          <mat-form-field appearance="outline" style="width: 250px">
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="deliveryDate" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="row">
          <div style="width: 250px">
            <mat-error *ngIf="saveForm.controls['deliveryDate'].invalid && (saveForm.controls['deliveryDate'].touched || saveForm.controls['deliveryDate'].dirty || saved)">
              <span *ngIf="saveForm.controls['deliveryDate'].errors?.['required']" class="d-block">Field is required.</span>
            </mat-error>
          </div>
        </div>
      </div>
      <table mat-table [dataSource]="cartDataSource" class="delivery-route-create-table2 w-100">
        <ng-container matColumnDef="nonSortIndex">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortOrderId">
          <th mat-header-cell *matHeaderCellDef>Order ID</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortCustomer">
          <th mat-header-cell *matHeaderCellDef>Customer</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.customer?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortOrderDate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">{{ element.order?.orderDate }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortProduct">
          <th mat-header-cell *matHeaderCellDef>Product</th>
          <td mat-cell *matCellDef="let element">{{ element.product?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortDeliveredQuantity">
          <th mat-header-cell *matHeaderCellDef>Delivered Quantity</th>
          <td mat-cell *matCellDef="let element">{{ element.deliveredQuantity }}</td>
        </ng-container>
        <ng-container matColumnDef="nonSortShippingAddress" >
          <th mat-header-cell *matHeaderCellDef>Shipping Address</th>
          <td mat-cell *matCellDef="let element">{{ element.shippingAddress?.address }}</td>
        </ng-container>
        <ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsForCart;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsForCart"></tr>
        </ng-container>
      </table>
    </div>
    <h5 *ngIf="cartData.length == 0" class="text-danger text-center mb-3 mt-3">No item in the cart!</h5>
    <div class="button-group save-button-group">
      <button mat-raised-button color="primary" type="submit" class="text-white">Submit</button>
      <button mat-raised-button color="warn" type="button" class="text-white" (click)="resetSaveForm()">Reset</button>
      <button mat-raised-button color="accent" type="button" class="text-white" (click)="back()">Back</button>
    </div>
  </form>
</div>
