.responsive-container .mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  padding-right: 14px !important;
}

.mat-mdc-form-field .mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
  padding-right: 4px;
}

.responsive-container .mat-column-index .mat-sort-header-container {
  width: 70px;
  max-width: 70px;
  word-wrap: break-word;
}

.responsive-container .mat-column-name .mat-sort-header-container {
  width: 200px;
  max-width: 200px;
  word-wrap: break-word;
}

.responsive-container .mat-column-category .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-manufacturingCost .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-retailPrice .mat-sort-header-container {
  width: 150px;
  max-width: 150px;
  word-wrap: break-word;
}

.responsive-container .mat-column-changeHistory .mat-sort-header-container {
  width: 250px;
  max-width: 250px;
  word-wrap: break-word;
}

.responsive-container .mat-column-action .mat-sort-header-container {
  width: 50px;
  max-width: 50px;
  word-wrap: break-word;
}

.product-list-table {
  min-width: 1050px !important;
}
